<footer class="footer">
  <div class="footer__container">
      <section>
          <h2 class="footer__title">Sobre</h2>
          <p class="footeer__about-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, dolorem officiis temporibus quia numquam deleniti voluptates aspernatur sed cum maiores, veniam tempore dignissimos incidunt! Dolorum libero adipisci iusto? Nam, voluptatibus!
          </p>
      </section>
      <address>
          <h2 class="footer__title">Contato</h2>
          <ul>
              <li><i class="fa-solid fa-envelope"></i> email@email.com.br</li>
              <li><i class="fa-solid fa-phone"></i> (11) 2325-5226</li>
              <li><i class="fa-brands fa-whatsapp"></i> (11)95578-5852</li>
          </ul>
      </address>
  </div>
  <section class="footer__copyright">
      &copy; Todos os direitos reservados.
  </section>

</footer>
